body {
  margin: 0;
}

.header {
  color: #fff;
  background-color: #84ceef;
  padding: 10px;
}

h1 {
  color: #e47292;
  text-align: center;
}

.footer {
  color: #fff;
  background-color: #040000;
  padding: 10px;
}
